@use '../abstracts/variables' as *;

aside.open {
    visibility: visible;
    left: 0;
    transition: visibility 0s, left .5s ease-in;
}

aside {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 60px;
    left: -300px;
    max-width: 300px;
    height: 100%;
    background-color: $light-gray-1;
    overflow-y: auto;
    z-index: 99999;
    transition: left .5s ease-out, visibility 0s ease .5s;

    @media screen and (min-width: 1000px) {
        display: initial;
    }
}

.sidenav {
    padding: 40px 20px;

    .due__container {
        margin-bottom: 50px;
    }

    .projects {
        
        &__header {
            display: flex;
            justify-content: space-between;
            padding: 12px 15px;
            border-bottom: 1px solid $light-gray-2;
            margin-bottom: 20px;
        }

        &__title {
            font-size: 18px;
        }

        &__add-btn {
            position: relative;
            color: $light-gray-2;
            font-size: 17px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &__tooltip {
            position: absolute;
            top: -38px;
            right: -5px;
            width: 135px;
            color: $white;
            background-color: $light-gray-2;
            border-radius: 5px;
            padding: 8px;
            font-size: 15px;
            visibility: hidden;
            transition: opacity 0.3s;
            opacity: 0;
        }

        &__tooltip::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 85%;
            margin-left: -4px;
            border-width: 5px;
            border-style: solid;
            border-color: $light-gray-2 transparent transparent transparent;
        }

        &__add-btn:hover .projects__tooltip {
            visibility: visible;
            opacity: 1;
        }

        &__info {
            display: flex;
            align-items: center;
        }

        &__info-title {
            display: inline-block;
            max-width: 138px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__controls {
            display: flex;
        }

        &__list {
            margin-bottom: 20px;
        }
    }

    .footer {
        padding-top: 10px;
        border-top: 1px solid $light-gray-2;

        &__text {
            font-size: 15px;
        }

        a {
            color: $light-blue;
        }
    }
}