@use '../abstracts/variables' as *;

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .btn {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        color: $light-gray-2;
        display: flex;
        width: 245px;
        height: 45px;
        padding: 12px 20px;
        background-color: $white;
        border: 1px solid $white;
        border-radius: 5px;
        cursor: pointer;
        font-family: inherit;
    }

    .project-btn-icon {
        margin-right: 8px;
    }

    .action-btn {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
    }

    .action-btn:hover {
        transform: scale(1.1);
    }
    
    .action-btn:not(:last-child) {
        margin-right: 8px;
    }

    .btn-icon {
        color: $light-gray-2;
        font-size: 17px;
    }

    .btn:hover {
        border: 1px solid $light-blue;
    }
    
    .btn.active {
        color: $white;
        background-color: $light-blue;
    }

    .btn.active svg {
        color: white;
    }
}