@use '../abstracts/variables' as *;

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 400px;
    box-shadow: rgba(46, 46, 46, 0.2) 0px 2px 8px 0px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    //opacity: 0;

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: $light-blue;
    }

    &__title {
        color: $white;
        font-size: 24px;
        padding: 20px;
    }

    &__close-btn {
        color: $white;
        font-size: 26px;
        position: absolute;
        top: 10px;
        right: 11px;
        background: none;
        border: none;
        cursor: pointer;
    }

    &__content {
        padding: 25px 20px;
    }

    &__info-container {
        display: flex;
        padding-bottom: 25px;
    }

    // Selects all .modal__info-container elements besides the 1st one
    &__info-container:not(:first-child) {
        padding: 20px 0;
    }

    // Selects all .modal__info-container elements besides the last one
    &__info-container:not(:last-child) {
        border-bottom: 1px solid $light-gray-3;
    }

    // Selects all h3 elements inside of .modal__info-container element
    &__info-container > h3 {
        color: $light-gray-2;
        font-weight: 600;
        flex-basis: 110px;
    }

    &__info-container > p {
        color: $light-gray-2;
        word-wrap: break-word;
        flex-basis: calc(100% - 110px);
        overflow-y: auto;
    }

    &__info-container > p.modal__info-descriptionText {
        max-height: 70px;
        overflow-y: scroll;
    }

    &__form-astrix {
        color: $astrix;
        font-weight: 100;
    }

    &__form {
        display: flex;
        flex-direction: column;

        label {
            color: $light-gray-2;
        }

        input,
        select,
        textarea {
            color: $light-gray-2;
            font-size: 17px;
            font-family: inherit;
            display: block;
            width: 100%;
            padding: 10px;
            margin: 5px 0 20px;
            border: 1px solid $light-gray-3;
            border-radius: 3px;
            outline: none;
        }

        select:last-child {
            margin-bottom: 40px;
        }

        textarea {
            resize: vertical;
        }

        input:focus,
        select:focus,
        textarea:focus {
            border: 1px solid $light-blue;
        }
    }

    

    &__form-controls {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        border-top: 1px solid $light-gray-3;
    }

    &__cancel-btn,
    &__add-btn,
    &__delete-btn {
        font-size: 15px;
        border: none;
        padding: 10px 17px;
        background: transparent;
        border-radius: 3px;
        transition: .3s;
        cursor: pointer;
    }

    &__cancel-btn {
        color: $light-gray-2;
        border: 1px solid $light-gray-3;
    }

    &__cancel-btn:hover {
        color: $light-blue;
        border: 1px solid $light-blue;
    }

    &__add-btn {
        color: $white;
        background-color: $light-blue;
        margin-left: 10px;
        border: 1px solid $light-blue;
    }

    &__add-btn:hover {
        background-color: $add-btn--hover;
        border: 1px solid transparent;
    }

    &__delete-btn {
        color: $white;
        background-color: $light-red;
        border: 1px solid $light-red;
        margin-left: 10px;
    }

    &__delete-btn:hover {
        background-color: $delete-btn--hover;
        border: 1px solid transparent;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__text-span {
        font-weight: 600;
    }

    .delete {
        background-color: red;
    }

    .edit {
        background-color: purple;
    }
}

dialog::backdrop {
    background: rgba(255, 255, 255, 0.8);
}