// Colors
$white: #ffffff;

$light-gray-1: #f7f7f7;
$light-gray-2: #757575;
$light-gray-3: #e6e6e6;

$light-blue: rgba(0, 208, 255, 0.615);
$light-green: rgb(0, 170, 74);
$light-red: rgba(237, 58, 58, 0.926);

$add-btn--hover: rgb(0, 144, 176);
$delete-btn--hover: rgb(176, 21, 0);

$astrix: red;

$backdrop: #909090e2;